/* Color */
.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}

/* ************************/
/* Generic */
/* *************************/

.btn {
    border-radius: 20px;
}


/* *************************/
/* Utilities */
/* *************************/

.h-100 {
    height: 100%;
}

.mr-10 {
    margin-right: 20px;
}



/* *************************/
/* Header */

/* *************************/

.sony-nav {
    height: 25px;
}

#nav-bar {
    height: 52px;
}


.play-svg {
    height: 50px;
    width: 50px;

}

/* JUMBOTRON */

#jumbotron {
    margin-top: 77px;
    height: 100vh;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

/* SWAP-JUMBOTRON **/

#swap-jumbotron {
    max-height: 100%
}


/* *************************/
/* Main */
/* *************************/


/* CONSOLE */
#console {
    padding: 30px;
    max-height: 100%;
}

/* NUOVE USCITE */
/* takes-two */


/* Catalogo-uscite */

.hero-takes-two {

    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;

    height: 100vh;
    background-position: center;
}




.catalogo-uscite {
    background-color: #1f1f1f;
    min-height: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
}


/* ESPLORA */

#esplora {
    padding-top: 30px;
    padding-bottom: 30px;
}

.card {
    border: transparent;
}

/* PLAYSTATION-PLUS */

#playstation-plus {
    background-color: #bebbba;
}


/* SCONTI */

#sconti {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* PLAYSTATION-NOW */

#playstation-now {
    background-color: #161b3b;

}


/* SOCIAL */
#social {
    padding-bottom: 30px;
    padding-top: 30px;
}

/* #social img {
    width: 50%;
} */

/* *************************/
/* Footer */
/* *************************/



/* FOOTER-TOP*/


#footer-up {
    background-color: #00429b;
    padding-top: 40px;
}


/* FOOTER-BOTTOM */

#footer-bottom {
    background-color: #00429b
}

/* DA TOGLIERE */
/* .container {
    background-color: aqua;
    min-height: 100px;

}

.container-fluid {
    background-color: rgb(0, 255, 98);
    min-height: 150px;
}

.row {
    border: 2px dashed yellow;
}

.row>[class^='col'] {
    min-height: 100px;
    border: 1px gray solid;
    background-color: aquamarine;
}

.row .row>[class^='col'] {
    background-color: orange;

} */

img {
    width: 100%;
}

/* ********************* */
/* EFFECTS */
/* ********************** */

/*Swap-jumbotron*/
#swap-jumbotron .col-6:hover img {
    transform: translatey(-10px) scale(1.0);
    cursor: pointer;
}

#swap-jumbotron .col-6 {
    transition: transform 0.3;

}

/*Console*/

#console .col-4:hover img {

    cursor: pointer;

}

.active-1 {
    opacity: 0.5;
}

#console .col-4:hover .active-1 {
    opacity: 1;
    border-bottom: 3px solid blue;
}




.active-img {
    border-bottom: 3px solid blue;
}


/* BTN -BOX SHADOW */

.btn {
    transition: 0.3sec
}


.btn:hover {
    outline: none;
    box-shadow: 0 0 0 3px #363636;
    border-radius: 3rem;
}