/* Color */
.bg-black {
    background-color: black;
}

/* ************************/
/* Generic */
/* *************************/



.img-svg-sony {
    height: 15px;
    float: right;

}

/* *************************/
/* Utilities */
/* *************************/

.h-100 {
    height: 100%;
}

/* *************************/
/* Header */

/* *************************/

.sony-nav {
    height: 24px;
}

#nav-bar {
    background-color: blueviolet;
    height: 50px;
}

/* *************************/
/* Main */
/* *************************/







/* *************************/
/* Footer */
/* *************************/

/* DA TOGLIERE */
.container {
    background-color: aqua;
    min-height: 500px;

}

.container-fluid {
    background-color: rgb(0, 255, 98);
    min-height: 150px;
}

.row {
    border: 2px dashed yellow;
}

.row>[class^='col'] {
    min-height: 100px;
    border: 1px gray solid;
    background-color: aquamarine;
}

.row .row>[class^='col'] {
    background-color: orange;

}

img {
    height: 2000px;
}